@model Lab1.Mvc.Models.AdvisoryModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advisory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdvisoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisoryText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisoryText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdvisoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
